.resultPage {
  background-color: #d5deed;
  color: #2d4059;
  height: 100vh;
}

.results {
  background-color: #ffffff;
  border-radius: 10px;
}

.results h3 {
  font-weight: 600;
  color: #2d4059;
  font-size: 30px;
}

.results h4 {
  font-weight: 600;
  font-size: 25px;
}

.results h5 {
  color: #8ec2f2;
  font-weight: 600;
  font-size: 30px;
}

.donutchart-innertext-value {
  color: #8ec2f2 !important;
}

.cardBtn {
  background-color: #8ec2f2;
  color: #ffffff !important;
  border: #8ec2f2;
  font-size: 20px;
  font-weight: 500;
}

.cardBtn:hover {
  font-weight: 600;
}
